@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.App {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #8686861c;
}

.top {
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top img {
  max-height: 30vh;
  margin: 8px;
}

.middle {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.middle h2 {
  max-width: 65vw;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: justify;
  font-size: 3em;
  font-family: "Lobster", cursive;
}

.middle p {
  text-align: end;
  margin-top: 0;
  padding-top: 0;
  width: 65vw;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
}

.middle-container {
  height: 45vh;
  margin-bottom: 8px;
}

.middle h2:hover::after {
  content: "Aperte a tecla m ou e para mostrar e esconder o alvo";
  position: absolute;
  left: 25%;
  top: 0;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 6px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  z-index: 1;
}

.bottom {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom p {
  text-align: end;
  margin: 12px;
}

.btn-show-meter {
  display: none;
  height: 8vh;
  background-color: #930d0c;
  color: white;
  min-width: 20vw;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-show-meter:hover {
  background-color: #930d0cdb;
}

@media (max-width: 880px) {
  .middle h2 {
    font-size: 2em;
  }

  .middle p {
    font-size: 1.8em;
  }

  .btn-show-meter {
    display: block;
  }

  .middle h2:hover::after {
    display: none;
  }
}

@media (max-width: 580px) {
  .middle h2 {
    font-size: 1.8em;
  }

  .middle p {
    font-size: 1.2em;
  }

  .btn-show-meter {
    display: block;
  }
}

@media (max-width: 445px) {
  .top img {
    max-height: 20vh;
  }

  .middle h2 {
    font-size: 1.8em;
  }

  .middle p {
    font-size: 1.2em;
  }
}

/* Percentage CSS */
#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #9b9b9b;
}

.circle-progress {
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 2.5em;
  font-weight: bold;
  fill: red;
}

.circle-background-full {
  stroke: red;
}

.circle-progress-full {
  stroke: yellow;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text-full {
  font-size: 2.5em;
  font-weight: bold;
  fill: rgb(255, 238, 1);
}
